body {
    background-color: #D47677;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

#formbox {
    margin: 10rem;
    padding: 1rem 0 1rem 0; 
    background-color: #F0F0F0;
    width: 35rem;
    flex-direction: column;
}

.inputText{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25rem;
    height: 3rem;
    border: solid #AAAAAA 1px;
    color: #aaa;
    padding-left: 20px;
    font-size: 1.1rem;
}
::placeholder {
    color: #aaa;
}

p {
    color: #7E7E7E;
}

h1{
    text-align: center;
    color: #7E7E7E;
    font-size: 1.4rem;
    font-weight: normal;
}

#login {
    background-color: #9DD8D4;
    border: 0;
    color: #fff;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 1rem 3rem 1rem 3rem;
}

#checkbox {
    margin-left: 5rem; 
}